{
  "default": [
    { "type": "reject" }
  ],
  "transports": {
    "docker": {
{% for registry in podman_allowed_registries %}
      "{{ registry }}": [
        { "type": "insecureAcceptAnything" }
      ]{{ "," if not loop.last else "" }}
{% endfor %}
    },
    "atomic": {
      "": [
        { "type": "reject" }
      ]
    }
  }
}
