# Managed by ansible-supply-chain-security

unqualified-search-registries = [{{ podman_allowed_registries | map('regex_replace', '/.*', '') | unique | map('to_json') | join(', ') }}]

{% for registry in podman_allowed_registries | map('regex_replace', '/.*', '') | unique %}
[[registry]]
prefix = "{{ registry }}"
location = "{{ registry }}"

{% endfor %}
# Enforce fully-qualified image names
short-name-mode = "enforcing"
